name: documentation
on:
  push:
    tags:
      - v*
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy_docs_dev:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: install UV
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          enable-cache: true
          activate-environment: true
      - name: install Hatch
        run: uv pip install --upgrade --system hatch
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
      - name: Deploy latest dev version docs
        run: hatch run docs:ci-build --push dev
